{{#if user}}
	<h5>Welcome Back {{user.username}}</h5>
	<ul class="alt">
	<li><a href="/{{type}}s/classes">My Classes</a></li>
	<li><a href="/users/logout">Logout</a></li>
	</ul>
{{else}}
<h5>Student & Instructor Login</h5>
	<form method="POST", action="/users/login">
        <label>Username:<br></label>
        <input type="text" name="username">
        <label>Password:<br></label>
        <input type="password" name="password">
        <input class="button" type="submit" value="Submit">
    </form>
{{/if}}